/* 全体の基本スタイル */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* ヘッダーのスタイル */
header {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    padding-left:80px;
    padding-top:20px;
}

/* チーム紹介セクション */
.team-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-left:80px;
    padding-right:80px;
    padding-top: 5px;
    gap: 15px;
}

/* 各チームのスタイル */
.team {
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 180px;
    margin-bottom: 20px;
}

/* ロゴ画像のスタイル */
.team-logo {
    width: 150px; /* ロゴの幅を150pxに設定 */
    height: 150px; /* ロゴの高さを100pxに設定 */
    margin-bottom: 5px;
}

/* チーム名のスタイル */
.team-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0px 
}



.team-name-small {
    font-size: 1.0rem;
    font-weight: bold;
    margin-top: 0px
}



.team-sectionf {
    display: flex;
    
    align-items: center;
    flex-wrap: wrap;
    padding-left:200px;
    padding-right:120px;
    padding-top: 5px;
    padding: bottom 40px;
    gap: 15px;
}