/* ベーススタイル */
body {
    font-family: 'Oswald', 'Impact', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cdd8e7;
  }
  
  /* ヘッダー */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001f3f;
    color: white;
    padding: 10px 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  header .logo img {
    width: 130px;
    height: 80px;
  }
  
  
  .sns-links {
    display: flex; /* 横並びに配置 */
    justify-content: center; /* 中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    gap: 40px; /* 各リンク間のスペース */
    list-style: none; /* liのデフォルトのスタイルを削除 */
    padding: 0; /* パディングを削除 */
    margin: 20px 0; /* 上下に余白を追加 */
  }
  
  .sns-links ul {
    font-family: "Impact";
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
  }
  
  .sns-links a {
    font-family: "Impact";
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    transition: color 0.3s;
  }
  
  .sns-links a:hover {
    color: #ffcc00; /* ホバー時の色 */
  }
  
  .sns-links i {
    margin-right: 8px; /* アイコンとテキストの間にスペースを追加 */
    font-size: 1.5rem; /* アイコンのサイズを調整 */
  }

 header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    transition: color 0.3s;
  }
  
  header nav ul li a:hover {
    color: #ffcc00;
  }

  footer {
    background-color: #001f3f;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: static;
    width: 100%;
    bottom: 0;
  }